*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html,
body,
#root {
 height: 100%;
}

body {
 font-family: "Roboto", sans-serif;
}

.icon-button-inactive {
 /* background-image: url("../img/diamond.png"); */
 /* background-color: rgb(121, 121, 121) !important; */
 padding-block: 9.5px;
}
