*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: "Roboto", sans-serif;
}

.icon-inactive {
 pointer-events: none;
}

.icon-has-lost {
 filter: grayscale(0);
 color: rgb(163, 48, 48);
}

.icon-button-active {
 background-image: url("./assets/img/diamond.png");
 background-color: purple;
 padding-block: 9.5px;
}
